<div class="row">
	<div class="col-md-8">
		<h4>Sala: {{ salaNombre }}</h4>
		<h4>{{ status_msg }}</h4>
	</div>
	<div class="col-md-4">
		<h4>{{ mano_nro }}</h4>
	</div>
</div>

<div class="row" name="tablero" ng-show="tableroShow">
	<div class="col-md-4">
		<div class="jumbotron text-center" ng-click="jugar('jugador1')">
			Jugador1
		</div>
	</div>

	<div class="col-md-4">
		<div class="jumbotron text-center" ng-click="jugar('empate')">
			Empate
		</div>
	</div>

	<div class="col-md-4">
		<div class="jumbotron text-center" ng-click="jugar('jugador2')">
			Jugador2
		</div>
	</div>
</div>

<div class="panel panel-default" name="tabla-resultado" ng-show="tablaResultadosShow">
  <div class="panel-heading">Resultados</div>

  <table class="table">
    <thead>
      <tr>
        <th>Jugador1</th>
        <th>Jugador2</th>
        <th>Respuesta correcta</th>
      </tr>
			<tbody>
        <tr ng-repeat="r in rfs">
          <td>{{ r.jugador1 }}</td>
          <td>{{ r.jugador2 }}</td>
        </tr>
      </tbody>
  </table>
</div>
