<h2>Bienvenido {{ jugadorNombre }}</h2>

<form class="form-inline" name="formCrearSala">
	<div class="row">
		<div class="col-md-8">
			<div class="jumbotron">
				<h3>Crear sala</h3>
				<input placeholder="Nombre de la sala..." ng-model="salaNombre" class="form-control" required>
				<br>
				<br>
 		   	<button class="btn btn-success btn-lg" ng-click="crearSala()" ng-disabled="formCrearSala.$invalid">
				Crear
				</button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="jumbotron text-center">
				<h3>Lista de salas</h3>
				<ul ng-repeat="s in salas_disponibles">
								<li><a href="http://localhost:4000/#/juego/{{ s }}/{{ jugadorNombre }}/jugador2">{{s}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</form>
