<form class="form-inline" name="formIngresar">
	<h2>Nombre</h2>
	<input type="text" placeholder="Nombre..." ng-model="guerra.nombreJugador" required>
	<button class="btn btn-success" ng-click="ingresar()" ng-disabled="formIngresar.$invalid">
		Entrar
	</button>
</form>
